/**
 * Torrow API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.apis

import net.torrow.api.models.UserInformationIftttResponse

import io.swagger.client.infrastructure.*

class IftttUserApi(basePath: kotlin.String = "/") : ApiClient(basePath) {

    /**
     * 
     * 
     * @return UserInformationIftttResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun apiV1IftttV1UserInfoGet(): UserInformationIftttResponse {
        
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/api/v1/ifttt/v1/user/info"
        )
        val response = request<UserInformationIftttResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as UserInformationIftttResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
}
